.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__individual {
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  width: 200px;
}

.review__button {
  color: white;
  background-color: black;
  width: 250px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}

.review__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review__buttons p:first-child {
  color: green;
  cursor: pointer;
}

.review__buttons > input[type="submit"] {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background-color: none;
  border: none;
  color: green;
  cursor: pointer;
  background: none;
}

.review__buttons p:last-child {
  color: red;
  cursor: pointer;
}

.review__create__title {
  border-radius: 10px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  margin-left: -35px;
}

.review__create textarea {
  resize: none;
  width: 250px;
  height: 100px;
  padding-left: 10px;
  margin-left: -35px;
  border-radius: 10px;
}
